<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org/"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="Layout">
<head>
<meta charset="UTF-8">
<title>Domum Amet - Cadastro de Show</title>
</head>
<section layout:fragment="conteudo">
	
	<form class="form-horizontal" method="POST" action="/home/casadeshow" th:object="${eventos}">
	<div layout:insert="MensagemGeral"></div>
	<div layout:insert="MensagemErro"></div>
	<div class="panel panel-casa panel-defaut">
		<div  class="panel heading">
			<div class="clearfix">
			<h3 style="padding-top: 1%;padding-bottom:1%;" class="panel-title panel-casa" align="center">Domum Amet</h3>
			</div>
		</div>
			<div class="panel-body">
			 <input type="hidden" th:field="*{codigo}">
				<div class="form-group" th:classappend="${#fields.hasErrors('banda')} ? has-error">
					<label for="banda" class="col-sm-2 control-label">Banda</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="banda" th:field="*{banda}"/>
					</div>
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('preco')} ? has-error">
					<label for="data" class="col-sm-2 control-label">Preço do Ingresso</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="preco" th:field="*{preco}" />
					</div>
				</div>
				<div class="form-group" >
					<label for="genero" class="col-sm-2 control-label">Gênero</label>
					<div class="col-sm-2">
						<select class="form-control" id ="genero" name="genero">
							<option th:each="genero : ${todosGeneros}" th:value="${genero}" th:text="${genero.genero}"></option>
						</select> 
					</div>
				</div>
				<div class="form-group">
					<label for="local" class="col-sm-2 control-label">Local</label>
					<div class="col-sm-2">
						<select class="form-control" id ="local" name="local">
							<option th:each="local : ${todosLocais}" th:value="${local}" th:text="${local.local}"></option>
						</select> 
					</div>
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('data')} ? has-error">
					<label for="data" class="col-sm-2 control-label">Data do Show</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="data" th:field="*{data}" 
						data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR"
						data-date-autoclose="true" data-date-today-highlight="true" />
					</div>
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('info')} ? has-error">
					<label for="info" class="col-sm-2 control-label">Informação</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="info" th:field="*{info}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-sn-10">
						<button type="submit" class="btn btn-salvar btn-primary">Salvar</button>
					</div>
				</div>
		<!-- 		<div class="form-group">
					<label for="imagem" class="col-sm-2 control-label">Imagem</label>
					<div class="col-sm-2">
						<input type="image" accept="image/*" class="form-control" id="imagem" name="imagem" />
					</div> -->
				</div>
			</div>
	</form>
	
</section>
</html>