<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Casa de Show</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header"></div>
		</div>

		<ul class="nav nav-pills">
			<li role="presentation"><a href="/home">Home</a></li>
			<li role="presentation"><a href="/home/casadeshow">Casa de
					Show</a></li>
			<li role="presentation"><a href="/home/eventos">Eventos</a></li>
			<li role="presentation"><a href="/home/historico">Histórico</a></li>
		</ul>
	</nav>

	<div class="card-arctic" style="width: 15%;">
		<img class="arctic monkeys" src="/imagens/arctic-monkeys-logo.png" alt="imagemrock" width="250px" height="250px">
		<div class="card-body">
			<h5 class="card-title" align="center">Arctic Monkeys</h5>
			<p class="card-text" align="center">The Arctic Monkeys está vindo para o Brasil, compre um ingresso agora!</p>
			<a href="#" class="btn btn-am btn-primary">Compre aqui</a>
		</div>
	</div>
</body>