<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="Layout">
<head>
<meta charset="UTF-8">
<title>Domum Amet - Home</title>
</head>
<section layout:fragment="conteudo">
	<div class="panel panel-home">
		<div class="wrapper">
			<div class="card-arctic" style="width: 15%;">
				<img class="arctic monkeys" src="/imagens/arctic-monkeys-logo.png"
					width="100%" height="248vh">
				<div class="card-body">
					<h5 class="card-title" align="center">Arctic Monkeys</h5>
					<p class="card-text" align="center">The Arctic Monkeys está vindo, compre um ingresso agora!</p>
					<a href="#" class="btn btn-am btn-primary">Compre aqui</a>
				</div>
			</div>
			<div class="card-arctic" style="width: 15%;">
				<img class="ed sheeran" src="/imagens/ed-logo.png" width="100%"
					height="248vh">
				<div class="card-body">
					<h5 class="card-title" align="center">Ed Sheeran</h5>
					<p class="card-text" align="center">Ed Sheeran está vindo, garanta seu ingresso agora!</p>
					<a href="#" class="btn btn-am btn-primary">Compre aqui</a>
				</div>
			</div>
			<div class="card-arctic" style="width: 15%;">
				<img class="costagold" src="/imagens/costagold.png" width="100%"
					height="248vh">
				<div class="card-body">
					<h5 class="card-title" align="center">Costa Gold</h5>
					<p class="card-text" align="center">Costa Gold está vindo, compre um ingresso agora!</p>
					<a href="#" class="btn btn-am btn-primary">Compre aqui</a>
				</div>
			</div>
		</div>
	</div>
</section>
</html>